.footer-text,
.jumbotron {
    text-align: center
}
.footer-text {
    padding-top: 30px;
    color: #767676;
    border-top: 1px solid #e5e5e5;
    margin-top: 50px
}
.logo-product {
    width: 70px;
    height: 70px;
    display: inline-block;
    background-size: cover!important
}
.media {
    margin-left: 2px;
    margin-bottom: 15px;
    border-left: solid 3px #D6D6D6;
    padding-left: 25px
}
.container {
    max-width: 730px;
    margin-top: 20px;
    padding-bottom: 20px
}
.label-version {
    font-size: 14px
}
.green-validate {
    color: #3CA53C
}
.date-main-update {
    float: left;
    margin-left: 15px;
    font-size: 15px;
    color: #252525
}
.changelog-main-update {
    text-align: justify;
    display: block;
    font-size: 15px
}
.no-changelog-main-update {
    text-align: center;
    margin-bottom: 45px;
    display: block;
    margin-top: 40px;
    color: #D4D4D4;
    font-size: 40px
}
.label-fix {
    padding: .4em .6em .3em;
    line-height: 30px
}
.view-changelog-btn {
    font-size: 12px;
    color: grey!important
}
.date-updates {
    color: #868686;
    font-size: 13px
}
.no-update {
    text-align: center;
    margin-top: 70px;
    color: #A2A2A2
}
